.transaction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #673ab7;
  color: white;
  margin: 0 0 1em 0;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  height: 4.3rem;
  border-radius: 9px;
}

.transaction_right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transaction_name {
  margin: 0em 0 0 0;
  font-size: 1.5em;
}

.transaction_client {
  font-size: 1.2em;
}

.transaction_indiv-price {
  margin: 0;
  font-size: 0.9rem;
  font-weight: lighter;
}

.transaction_indiv-price span {
  font-weight: bold;
  font-size: 1rem;
}

.transaction_cost {
  margin: 0 0 0 0;
  font-size: 1.8em;
}

.transaction_paid {
  margin: 0 0 0.3em 0;
  font-weight: lighter;
}
