.auth-container {
  background: white;
  padding: 1em 1.5em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: auto;
  border-radius: 10px;
}

.auth-container h1 {
  margin: 0 0 0.5em 0;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container form input {
  margin: 0 0 1.4em 0;
  background: white;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 0.2em;
}

.auth-container form button {
  background: white;
  border: 2px solid #4527a0;
  padding: 0.2em;
  width: 40%;
  height: 35%;
  margin: auto;
  font-weight: bold;
  font-size: 1.2em;
  color: #4527a0;
  border-radius: 99px;
  transition: all 150ms ease-in;
}

.btn-signup {
  color: var(--signup-color) !important;
  border: 2px solid var(--signup-color) !important;
}

.btn-signup:hover {
  background: var(--signup-color);
  color: white !important;
  border: 2px solid white;
}

.btn-login {
  color: var(--login-color) !important;
  border: 2px solid var(--login-color) !important;
}

.btn-login:hover {
  background: var(--login-color);
  color: white !important;
  border: 2px solid white;
}

.auth-error {
  color: #dd2c00;
  margin: 0 0 0.4em 0;
}

.authForm-link {
  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  transition: transform 100ms ease-in;
  border-radius: 99px;
  color: white;
  width: 20%;
  padding: 0.1em;
  min-width: 100px;
}

.authForm-link:hover {
  transform: scale(1.01);
  font-weight: bold;
}

.authForm-link-signup {
  /* background: var(--signup-color) !important; */
  color: var(--signup-color) !important;
  border: 1px solid var(--signup-color);
}

.authForm-link-login {
  /* background: var(--login-color) !important; */
  color: var(--login-color) !important;
  border: 1px solid var(--login-color);
}

@media only screen and (max-width: 800px) {
  .auth-container {
    width: 80vw;
  }
  .authForm-link {
    width: 50%;
  }
}
